span, input, div {
    color: #fcfcfc;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
